.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__main {
    display: flex;
    height: 100vh;
    margin: 0;
    gap: 1em;
    padding: 10px;
  }
  &__header {
    display: flex;
    width: 100%;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    &__logo {
      display: flex;
      gap: 1em;
      align-items: center;
      &__img {
        width: 60px;
      }
      &__title {
        margin: 0;
      }
    }
  }
  .clients {
    border: 1px solid #dddddd;
    background: #fff;
    color: #0095ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      background: #0095ff;
      color: #ffffff;
    }
  }
  .panels {
    border: 1px solid #dddddd;
    background: #0095ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      background: #ffffff;
      color: #0095ff;
    }
  }
  .content {
    width: 100%;
  }
  .list {
    margin-bottom: 12px;
  }
  .flex_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
  }
}
