.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-small {
  .logo {
    width: 100px;
  }
  h3 {
    font-size: 14px;
  }
  h5 {
    font-size: 10px;
    margin: 0;
  }
  .divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.spinner-large {
  .logo {
    width: 300px;
  }
  h3 {
    font-size: 32px;
    font-weight: 400;
  }
  h5 {
    font-size: 18px;
  }
}

h5 {
  margin-bottom: 0px;
}

.loading {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: fit-content;
  width: fit-content;
}
.loading-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
// .loading-h {
//   flex: 2;
//   text-align: left;
// }
.divider {
  width: 60%;
  opacity: 0.6;
  margin-top: 14px;
  margin-bottom: 14px;
  animation: dev-fadein 2s linear infinite;
  -moz-animation: dev-fadein 2s linear infinite;
  -webkit-animation: dev-fadein 2s linear infinite;
  -o-animation: dev-fadein 2s linear infinite;
}

.parent {
  position: relative;
  animation: scale-animation 2s linear infinite;
  -moz-animation: scale-animation 2s linear infinite;
  -webkit-animation: scale-animation 2s linear infinite;
  -o-animation: scale-animation 2s linear infinite;
}

@keyframes scale-animation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.logo {
  width: 200px;
  height: auto;
  filter: drop-shadow(0px 0px 17px #00000043);
  animation: fadein 3s linear infinite;
  -moz-animation: fadein 3s linear infinite;
  -webkit-animation: fadein 3s linear infinite;
  -o-animation: fadein 3s linear infinite;
}

@keyframes scale-dots {
  0% {
    transform: translateY(-8px) scale(0.9);
  }
  50% {
    transform: translateY(-4px) scale(0.1);
  }
  100% {
    transform: translateY(0px) scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes dev-fadein {
  0% {
    -webkit-mask-image: radial-gradient(#00000055 90%, #000000ff 100%);
    -moz-mask-image: radial-gradient(#00000055 90%, #000000ff 100%);
  }
  5% {
    -webkit-mask-image: radial-gradient(#00000055 85%, #000000ff 95%);
    -moz-mask-image: radial-gradient(#00000055 85%, #000000ff 95%);
  }
  10% {
    -webkit-mask-image: radial-gradient(#00000055 80%, #000000ff 90%);
    -moz-mask-image: radial-gradient(#00000055 80%, #000000ff 90%);
  }
  15% {
    -webkit-mask-image: radial-gradient(#00000055 75%, #000000ff 85%);
    -moz-mask-image: radial-gradient(#00000055 75%, #000000ff 85%);
  }
  20% {
    -webkit-mask-image: radial-gradient(#00000055 70%, #000000ff 80%);
    -moz-mask-image: radial-gradient(#00000055 70%, #000000ff 80%);
  }
  25% {
    -webkit-mask-image: radial-gradient(#00000055 65%, #000000ff 75%);
    -moz-mask-image: radial-gradient(#00000055 65%, #000000ff 75%);
  }
  30% {
    -webkit-mask-image: radial-gradient(#00000055 60%, #000000ff 70%);
    -moz-mask-image: radial-gradient(#00000055 60%, #000000ff 70%);
  }
  35% {
    -webkit-mask-image: radial-gradient(#00000055 55%, #000000ff 65%);
    -moz-mask-image: radial-gradient(#00000055 55%, #000000ff 65%);
  }
  40% {
    -webkit-mask-image: radial-gradient(#00000055 50%, #000000ff 60%);
    -moz-mask-image: radial-gradient(#00000055 50%, #000000ff 60%);
  }
  45% {
    -webkit-mask-image: radial-gradient(#00000055 45%, #000000ff 55%);
    -moz-mask-image: radial-gradient(#00000055 45%, #000000ff 55%);
  }
  50% {
    -webkit-mask-image: radial-gradient(#00000055 40%, #000000ff 50%);
    -moz-mask-image: radial-gradient(#00000055 40%, #000000ff 50%);
  }
  55% {
    -webkit-mask-image: radial-gradient(#00000055 35%, #000000ff 45%);
    -moz-mask-image: radial-gradient(#00000055 35%, #000000ff 45%);
  }
  60% {
    -webkit-mask-image: radial-gradient(#00000055 30%, #000000ff 40%);
    -moz-mask-image: radial-gradient(#00000055 30%, #000000ff 40%);
  }
  65% {
    -webkit-mask-image: radial-gradient(#00000055 25%, #000000ff 35%);
    -moz-mask-image: radial-gradient(#00000055 25%, #000000ff 35%);
  }
  70% {
    -webkit-mask-image: radial-gradient(#00000055 20%, #000000ff 30%);
    -moz-mask-image: radial-gradient(#00000055 20%, #000000ff 30%);
  }
  75% {
    -webkit-mask-image: radial-gradient(#00000055 15%, #000000ff 25%);
    -moz-mask-image: radial-gradient(#00000055 15%, #000000ff 25%);
  }
  80% {
    -webkit-mask-image: radial-gradient(#00000055 10%, #000000ff 20%);
    -moz-mask-image: radial-gradient(#00000055 10%, #000000ff 20%);
  }
  85% {
    -webkit-mask-image: radial-gradient(#00000055 5%, #000000ff 15%);
    -moz-mask-image: radial-gradient(#00000055 5%, #000000ff 15%);
  }
  90% {
    -webkit-mask-image: radial-gradient(#00000055 0em, #000000ff 10%);
    -moz-mask-image: radial-gradient(#00000055 0em, #000000ff 10%);
  }
  95% {
    -webkit-mask-image: radial-gradient(#00000055 0em, #000000ff 5%);
    -moz-mask-image: radial-gradient(#00000055 0em, #000000ff 5%);
  }
  100% {
    -webkit-mask-image: radial-gradient(#00000055 0%, #000000ff 0%);
    -moz-mask-image: radial-gradient(#00000055 0%, #000000ff 0%);
  }
}

.matna-title {
  margin-bottom: 4px;
  margin-top: 2px;
}

.loading-dots {
  display: inline-block;
  width: 2px;
  height: 2px;
  color: transparent;
  background: #333;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 3px;
}
.loading-dots:first-child {
  animation: dotPulse 0.8s linear infinite;
  -moz-animation: dotPulse 0.8s linear infinite;
  -webkit-animation: dotPulse 0.8s linear infinite;
  -o-animation: dotPulse 0.8s linear infinite;
}
.loading-dots:nth-child(2) {
  animation: dotPulse 0.8s 0.4s linear infinite;
  -moz-animation: dotPulse 0.8s 0.4s linear infinite;
  -webkit-animation: dotPulse 0.8s 0.4s linear infinite;
  -o-animation: dotPulse 0.8s 0.4s linear infinite;
}
.loading-dots:last-child {
  animation: dotPulse 0.8s linear infinite;
  -moz-animation: dotPulse 0.8s linear infinite;
  -webkit-animation: dotPulse 0.8s linear infinite;
  -o-animation: dotPulse 0.8s linear infinite;
}
@keyframes dotPulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading-animation {
  0% {
    letter-spacing: -3px;
  }
  50% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: -3px;
  }
}
